<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="Messages"
            id="com.remainsoftware.messages">
      </category>
      <view
            category="com.remainsoftware.messages"
            class="com.remainsoftware.queuemonitor.MessageMonitorView"
            icon="icons/sample.gif"
            id="mmview"
            name="Messages">
      </view>
   </extension>

</plugin>
